/* =============================================================================
   Misc
   ========================================================================== */


/* Alerts
   ========================================================================== */

.alert {
	padding: 1.6rem 2rem;
	margin-bottom: $small-gutter-width;
	background-color: $alert-background;
	border-left: 5px solid $alert-border-color;
	border-radius: 0 5px 5px 0;
	color: $alert-text-color;

	// Headings for larger alerts
	h4 {
		color: inherit;
		margin: 1rem 0;
	}

	// Improve alignment and spacing of inner content
	p + p {
		margin-bottom: 0.5rem;
	}
}


// Alternate styles
.alert-warning {
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-success {
	@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-error,
.alert-danger {
	@include alert-variant($alert-error-bg, $alert-error-border, $alert-error-text);
}

.alert-info {
	@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}
