/* Forms
   ========================================================================== */

fieldset {
    margin-bottom: $gutter-width;
}

legend {
    padding: 0.6rem 0.8rem;
    border: solid $content-background;
    border-width: 0 2px;
    border-radius: 5px;
    background-color: $legend-background;
    color: $legend-text-color;
}

// Inputs
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
    display: block;
    padding: 0.6rem;
    width: 100%;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    background-color: $input-background;
    box-shadow: inset 0 1px 1px rgba(#000, 0.075);
    color: $input-text-color;
    font-weight: $regular;

    label > & {
        margin-top: $label-input-spacing;
    }
}

// Full width range inputs
input[type="range"] {
    display: block;
    width: 100%;

    label > & {
        margin-top: $label-input-spacing;
    }
}

// Color inputs
input[type="color"] {
    padding: 0; // reset padding, otherwise the color is barely visible
}

// Search inputs
input[type="search"] {
    box-sizing: border-box; // overwrites normalize.css
}

// Invalid inputs, change outline to red
input:invalid:focus {
    outline-color: $error-border-color;
}

// Labels
label {
    display: block;
    font: {
        family: $label-font-family;
        weight: $label-font-weight;
        size: $label-font-size;
    }

    .help,
    .required {
        padding-left: 0.2rem;
        color: $label-required-color;
        font-weight: normal;
        font-size: 90%;
    }
}

// Checkboxes and radios
.checkbox,
.radio {
    // Reset label font weight
    &, label {
        font-weight: inherit;
        cursor: pointer;
    }
}

