/* Lists
   ========================================================================== */

// Unordered lists
ul {
	list-style: square;
}

// Ordered lists
ol {
	list-style-type: decimal;
}

ol ol { list-style: upper-roman; }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: upper-alpha; }
ol ol ol ol ol { list-style: lower-alpha; }

// Unstyled lists
.list-unstyled {
	@include no-list-style;
}

// Description lists
dt {
	margin-top: 1rem;
	font-weight: $bold;
}

dd {
	margin-left: $small-gutter-width;
}
