/* Embedded content
   ========================================================================== */

// Responsive media (ensure media don't scale beyond their parents)
img,
iframe,
embed,
object,
audio,
video {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly
}


/**
 * Figures
 */
figure {
	padding: $figure-spacing;
	margin: $figure-spacing 0;
	border-radius: 5px;
	background: $figure-background;
	color: $figure-text-color;

	// Figure content
	img {
		display: block;
		margin: 0 auto;
	}

	pre {
		&:last-child {
			margin-bottom: 0;
		}
	}

	// Figure caption
	figcaption {
		font: {
			family: $figure-font-family;
			size: $figure-font-size;
		}
		text-align: center;

		code {
			color: $figure-code-color;
		}

		// Caption is first in the figure
		&:first-child {
			margin-bottom: $figure-spacing;
		}

		// Caption is last in the figure
		&:last-child {
			margin-top: $figure-spacing;
		}
	}
}
