/* Layout: Widgets
   ========================================================================== */

.widget {
    border-bottom: 4px double $color__seperator;
    padding-bottom: $size__gutter;
    margin-bottom: $size__gutter;

    &:last-child {
        border-bottom: none;
    }
}


.widget-title {
    font-size: 2.4rem;
}


// Remove bottom margin on the last ul in a widget
.widget ul:last-child {
	margin-bottom: 0;
}
